.main-about {
    padding-left: 15%;
    padding-right: 15%;
}

.main-about h1 {
    color: hsl(233, 80%, 10%);
    font-size: 40px;
}

.main-about p {
    color: #757575;
    font-size: 18px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 550px;
    height: 400px;
}

.image2 {
    position: absolute;
    top: -60px;
    left: -30px;
    border: 10px solid white;
    width: 40%;
    height: auto;
}

.teachers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teachers h3 {
    color:#F3BD00;
    margin-bottom: 0;
}
@media (max-width: 921px) {
    .main-about {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40%;
        padding-bottom: 15%;
        text-align: center;
    }

    .image1 {
        position: relative;
        top: 0;
        left: 0;
        object-fit:cover;
        width: 100%;
        height: 40vh;
    }

    .image2 {
        position: absolute;
        top: -50px;
        left: -30px;
        border: 10px solid white;
        width: 40%;
        height: auto;
    }
    .teachers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}