.main-home {
    padding: 0;
}

.carousel-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carousel-content {
    position: absolute;
    color: #141E46;
    padding-left: 15%;
    padding-right: 15%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-dots {
    display: flex;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background-color: #333;
}

@media (max-width: 768px) {
    .carousel-content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .carousel-background-image {
        height: 60vh;
    }

    .carousel-content img {
        width: 100%;
    }
    
    .carousel-button.prev {
        left: 0px;
    }
    
    .carousel-button.next {
        right: 0px;
    }
}