footer {
    background-color: #141E46;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer p,
.link {
    color: white;
    text-decoration: none;
    font-weight: 00;
    margin-left: 2%;
}

footer h3,
h2, .address{
    color: white;
    font-style: normal;
    margin-left: 2%;
}

footer .section-row {
    align-items: center;
}

footer .working-hours {
    display: flex;
    justify-content: space-between;
}

footer hr {
    height: 1px;
    width: auto;
    background-color: white;
    margin-right: 0px;
}