footer {
    height: 300px;
    background-color: #141E46;
    padding-left: 20%;
    padding-right: 20%;
}

footer .logo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
p, h3, h2 {
    color: white;
}
