main{
    padding: 8%;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90% !important;
    height: 80% !important;
    border-radius: 30px;
  }

.text-container p, address{
    color: black;
}

.section-row {
    align-items: center;
}
